
<div class="container">
    <div class="row col-sm-12 justify-content-center text-center">
      <div class="col-sm-5">
      <form class="form-inline p-5" (ngSubmit)="onSearch()" #heroForm="ngForm" autocomplete="off">
        
        <label class="sr-only" for="searchtext">searchtext</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" [(ngModel)]="text" name="text" class="form-control" id="searchtext" placeholder="Search Text">
        </div>
      
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>
    <div class="col-sm-12">
      <table class="table table-striped" *ngIf="result">
          <thead>
            <tr>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Rating</th>
              <th scope="col">Status</th>
              <th scope="col">Dated On</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let obj of result">
              <th scope="row">{{obj.address}}</th>
              <td>{{obj.city}}</td>
              <td>{{obj.state}}</td>
              <td>{{obj.structure_rating}}</td>
              <td>{{obj.structure_status}}</td>
              <td>{{obj.date_opened | date:'short'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>